.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards>div {
    padding: 30px 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}